.navbar-item .active {
    text-decoration: underline;
}

.navbar-item {
    &.has-dropdown {
        .navbar-dropdown {
            display: none;
        }
        &.is-active {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}
