@charset "utf-8";
@use "bulma/sass";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
    --bulma-content-heading-color: #3E6666;
    --bulma-link-text: #fa7c91;
    --bulma-font-family: 'Roboto', sans-serif;
}

// Set your brand colors
$blue: #6666AA;
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $pink;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
